/* You can add global styles to this file, and also import other style files */
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.p-dropdown{
  background: #7b3ff2 !important;
  border-radius: 3px !important;

  .p-dropdown-label{
    color: white !important;
  }

  .p-dropdown-trigger{
    color: white !important;
  }
}

.p-highlight{
  background: #f6f2fe !important;
  color: #262626 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #262626 !important;
  background: #f6f2fe !important;
}
